aldryn-apphooks-config==0.6.0
aldryn-boilerplates==0.8.0
aldryn-categories==1.2.0
aldryn-common==1.0.5
aldryn-newsblog==2.2.1
aldryn-people==2.2.0
aldryn-search==1.1.0
aldryn-translation-tools==0.3.0
amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
babel==2.10.3
backport-collections==0.1
backports-zoneinfo==0.2.1
billiard==3.6.4.0
cdist==6.9.8
celery==5.2.7
certifi==2026.7.22
charset-normalizer==2.1.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==6.4.1
cssselect2==0.7.0
deprecated==1.3.1
django==3.2.25
django-admin-honeypot==1.1.0
django-appconf==1.0.5
django-appdata==0.3.2
django-bootstrap3==21.2
django-celery-results==2.4.0
django-classy-tags==3.0.1
django-cms==3.10.1
django-compressor==4.0
django-debug-toolbar==3.5.0
django-extensions==3.1.5
django-filer==2.2.1
django-filter==22.1
django-formtools==2.3
django-guardian==2.4.0
django-haystack==3.2.1
django-js-asset==2.2.0
django-meta==2.0.0
django-model-utils==4.2.0
django-mptt==0.13.4
django-multisite==1.9.0
django-parler==2.3
django-phonenumber-field==1.3.0
django-polymorphic==3.1.0
django-recaptcha==3.0.0
django-reversion==5.0.1
django-sekizai==3.0.1
django-select2==7.10.0
django-sortedm2m==3.1.1
django-spurl==0.6.8
django-standard-form==1.1.1
django-taggit==3.0.0
django-taggit-autosuggest==0.3.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.7.1
djangocms-admin-style==3.2.0
djangocms-apphook-setup==0.4.1
djangocms-attributes-field==4.0.0
djangocms-blog==1.2.3
djangocms-file==3.0.0
djangocms-flash==0.3.0
djangocms-googlemap==2.0.0
djangocms-inherit==0.2.2
djangocms-link==3.0.0
djangocms-page-meta==1.0.1
djangocms-picture==4.0.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==5.1.1
djangocms-video==3.0.0
djangorestframework==3.13.1
easy-thumbnails==2.8.1
flake8==4.0.1
html5lib==1.1
idna==3.15
kombu==5.5.4
ldap3==2.9.1
lxml==4.9.0
mccabe==0.6.1
model-mommy==2.0.0
packaging==26.2
phonenumbers==8.12.50
phonenumberslite==8.12.50
pillow==9.1.1
pluggy==0.13.1
prompt-toolkit==3.0.52
psycopg2==2.9.3
pyasn1==0.6.4
pycodestyle==2.8.0
pycryptodome==3.15.0
pyflakes==2.4.0
pylibmc==1.6.1
pyotp==2.6.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-memcached==1.59
python-slugify==6.1.2
pytz==2022.1
rcssmin==1.1.0
redis==4.3.4
reportlab==4.4.3
requests==2.28.1
requests-file==3.0.1
rjsmin==1.2.0
setuptools==75.3.4
six==1.16.0
sqlparse==0.4.2
stripe==3.5.0
svglib==1.5.1
text-unidecode==1.3
tinycss2==1.4.0
tldextract==2.2.3
typing-extensions==4.13.2
tzdata==2026.5
unidecode==1.1.1
urllib3==1.26.20
urlobject==2.4.3
vine==5.1.0
wcwidth==0.8.5
webencodings==0.5.1
wheel==0.37.1
wrapt==2.0.1
yurl==1.0.0
git+https://github.com/ungleich/python-oca.git#egg=oca
