aldryn-apphooks-config==0.7.0
aldryn-boilerplates==0.8.0
aldryn-categories==1.2.0
aldryn-common==1.0.5
aldryn-newsblog==2.2.1
aldryn-people==2.2.0
aldryn-search==1.1.0
aldryn-translation-tools==0.3.0
amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.2
babel==2.12.1
backport-collections==0.1
beautifulsoup4==4.12.2
billiard==4.1.0
cdist==7.0.0
celery==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.5
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.2.7
cssselect2==0.7.0
deprecated==1.2.14
django==4.2.3
django-admin-honeypot==1.1.0
django-appconf==1.0.5
django-appdata==0.4.0
django-bootstrap3==23.4
django-celery-results==2.5.1
django-classy-tags==4.0.0
django-cms==3.11.3
django-compressor==4.4
django-debug-toolbar==4.1.0
django-extensions==3.2.3
django-filer==3.0.1
django-filter==23.2
django-formtools==2.4.1
django-guardian==2.4.0
django-haystack==3.2.1
django-js-asset==2.1.0
django-meta==2.2.0
django-model-utils==4.3.1
django-mptt==0.14.0
django-multisite==1.9.0
django-parler==2.3
django-phonenumber-field==1.3.0
django-polymorphic==3.1.0
django-recaptcha==3.0.0
django-reversion==5.0.4
django-sekizai==4.1.0
django-select2==8.1.2
django-sortedm2m==3.1.1
django-spurl==0.6.8
django-standard-form==1.1.1
django-taggit==4.0.0
django-taggit-autosuggest==0.4.1
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.7
djangocms-admin-style==3.2.4
djangocms-apphook-setup==0.5.0
djangocms-attributes-field==3.0.0
djangocms-blog==1.2.3
djangocms-file==3.0.1
djangocms-flash==0.3.0
djangocms-googlemap==2.0.0
djangocms-inherit==0.2.2
djangocms-link==3.1.1
djangocms-page-meta==1.2.0
djangocms-picture==4.0.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==5.1.3
djangocms-video==3.0.0
djangorestframework==3.14.0
easy-thumbnails==2.8.5
flake8==6.0.0
html5lib==1.1
idna==3.4
kombu==5.3.1
ldap3==2.9.1
lxml==4.9.3
mccabe==0.7.0
model-mommy==2.0.0
packaging==23.1
phonenumbers==8.13.16
phonenumberslite==8.13.16
pillow==10.0.0
pluggy==0.13.1
prompt-toolkit==3.0.39
psycopg2==2.9.6
pyasn1==0.5.0
pycodestyle==2.10.0
pycryptodome==3.18.0
pyflakes==3.0.1
pylibmc==1.6.3
pyotp==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-memcached==1.59
python-slugify==8.0.1
pytz==2023.3
rcssmin==1.1.1
redis==4.6.0
reportlab==4.0.4
requests==2.31.0
requests-file==1.5.1
rjsmin==1.2.1
setuptools==68.0.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stripe==5.5.0
svglib==1.5.1
text-unidecode==1.3
tinycss2==1.2.1
tldextract==2.2.3
typing-extensions==4.7.1
tzdata==2023.3
unidecode==1.3.6
urllib3==2.0.3
urlobject==2.4.3
vine==5.0.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.40.0
wrapt==1.15.0
yurl==1.0.0
git+https://github.com/ungleich/python-oca.git#egg=oca
