Babel==2.7.0
Django==1.11.29
Django-Select2==6.3.1
Pillow==6.0.0
URLObject==2.4.3
Unidecode==1.0.23
YURL==1.0.0
aldryn-apphooks-config==0.5.2
aldryn-boilerplates==0.8.0
aldryn-categories==1.2.0
aldryn-common==1.0.5
aldryn-newsblog==2.2.1
aldryn-people==2.2.0
aldryn-search==1.0.1
aldryn-translation-tools==0.3.0
backport-collections==0.1
cmsplugin-filer==1.1.3
django-appconf==1.0.3
django-appdata==0.2.1
django-bootstrap3==11.0.0
django-classy-tags==0.9.0
django-cms==3.6.0
django-compressor==2.3
django-debug-toolbar==2.0
python-dotenv==0.10.3
django-extensions==2.1.9
django-filer==1.5.0
django-filter==2.1.0
django-formtools==2.1
django-guardian==2.0.0
django-haystack==2.8.1
django-meta==1.5.1
django-model-utils==3.2.0
django-mptt==0.10.0
django-parler==1.9.2
django-phonenumber-field==1.3.0
django-polymorphic==2.0.3
django-reversion==2.0.13
django-sekizai==1.0.0
django-sortedm2m==1.5.0
django-spurl==0.6.6
django-standard-form==1.1.1
django-stored-messages==1.4.0
django-taggit==0.23.0
django-taggit-autosuggest==0.3.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
djangocms-apphook-setup==0.3.0
djangocms-blog==0.9.9
djangocms-file==2.3.0
djangocms-flash==0.3.0
djangocms-googlemap==1.3.0
djangocms-inherit==0.2.2
djangocms-link==2.4.0
djangocms-page-meta==0.8.5
djangocms-picture==2.2.1
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.8.0
djangocms-video==2.1.1
easy-thumbnails==2.6
html5lib==1.0.1
ldap3==2.6
lxml==4.3.4
model-mommy==1.6.0
phonenumbers==8.10.14
phonenumberslite==8.10.14
psycopg2==2.7.7
pycryptodome==3.8.2
pylibmc==1.6.0
python-dateutil==2.8.0
python-slugify==3.0.2
pytz==2019.1
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
sqlparse==0.3.0
stripe==2.32.0
wheel==0.33.4
django-admin-honeypot==1.1.0
coverage==4.5.3
djangorestframework==3.9.4
flake8==3.7.7
python-memcached==1.59
celery==4.3.0
redis==3.2.1
django-celery-results==1.1.2
kombu==4.6.3
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
billiard==3.6.0.0
amqp==2.5.0
vine==1.3.0
cdist==5.1.2
pyotp==2.2.7
django-recaptcha==2.0.4
git+https://github.com/ungleich/python-oca.git#egg=oca
git+https://github.com/ungleich/djangocms-multisite.git#egg=djangocms_multisite
# transitive dependencies, pinned for reproducible builds
certifi==2021.10.8
chardet==3.0.4
django-js-asset==1.2.3
django-multisite==1.9.0
djangocms-attributes-field==1.2.0
entrypoints==0.3
idna==2.8
importlib-metadata==2.1.3
pluggy==0.13.1
pyasn1==0.4.8
requests-file==3.0.1
text-unidecode==1.2
tldextract==2.2.3
urllib3==1.25.11
webencodings==0.5.1
zipp==1.2.0
