{% load i18n %}
{% if request.COOKIES.gdpr_accepted or IS_TENANT_SITE %}
{% else %}
<style>
div#gdprBanner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #29427A;
    z-index: 999;
    color: #ffffff;
}
#gdprBanner a {
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
}
#gdprBanner button {
    margin-left: 25px;
}
.gdpr-text-letter-spacing {
    letter-spacing: 0.5px;
}
.gdpr-button-text-letter-spacing {
    letter-spacing: 0.6px;
}
</style>
<div class="gdprBanner text-center gdpr-text-letter-spacing" id="gdprBanner">
    {% blocktrans %}This site uses cookies for analytics. By continuing to browse this site, you agree to use this.{% endblocktrans %}&nbsp;
    <a data-toggle="modal" data-target="#gdprModal">{% trans "Learn more" %}</a>  <button onclick="cookieManager.createGDPRCookie();" type="button" class="btn btn-info" data-dismiss="modal" class="gdpr-button-text-letter-spacing">{% trans "Accept" %}</button></div>
<div class="modal fade" id="gdprModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{% blocktrans %}Privacy policy{% endblocktrans %}</h4>
    </div>
    <div class="modal-body">
      <p>
{% blocktrans %}
<strong>1. Responsibility and scope</strong><br/>
<br/>
Responsible in regards to EU General Data Protection Regulation ("GDPR") and other applicable data protection laws:<br/>
<br/>
ungleich glarus ag<br/>
Bahnhofstrasse 1<br/>
8783 Linthal (CH)<br/>
Tel.: (044) 534-66-22<br/>
E-Mail: info@ungleich.ch<br/>
<br/>
This privacy statement applies to the web content of ungleich glarus ag, available at the<br/>
following domains:<br/>
<br/>
ungleich.ch<br/>
datacenterlight.ch<br/>
devuanhosting.com<br/>
devuanhosting.ch<br/>
digitalglarus.ch<br/>
hack4lgarus.ch<br/>
ipv6onlyhosting.com<br/>
ipv6onlyhosting.ch<br/>
ipv6onlyhosting.net<br/>
django-hosting.ch<br/>
rails-hosting.ch<br/>
node-hosting.ch<br/>
blog.ungleich.ch<br/>
<br/>
The Data Privacy Officer:<br/>
<br/>
Sanghee Kim<br/>
ungleich glarus ag<br/>
Bahnhofstrasse 1<br/>
8783 Linthal (CH)<br/>
E-Mail: <a href="mailto:sanghee.kim@ungleich.ch">sanghee.kim@ungleich.ch</a><br/>
<br/>
<br/>
<strong>2. General</strong><br/>
<br/>
User data is personal data which is necessary to establish or change the contractual relations
between ungleich glarus ag ("us") and you. This includes among other things for example the
name, the address, the date of birth, the e-mail address or the IP address. We save and use
your personal data only for the processing of your orders or for getting in contact with you.<br/>
<br/>
<br/>
<strong>3. Processing of personal data</strong><br/>
<br/>
When you call one of our websites we collect your IP address. When you register an account with us your contact data will be stored. When you order products on our platform we also collect among others your address and your payment details.<br/>
<br/>
<strong>I. Registration data</strong><br/>
<br/>
In the process of registration we need to collect some of your personal data. For example we collect your name, your address, your telephone number, your e-mail address and your payment details to process orders. We do not collect your payment details such as credit card number, expiration date or the cvv code when you pay with credit card. You expose those data directly to the respective payment processor. Payments with credit card are processed by Stripe Payments Europe Ltd. ("Stripe").<br/>
<br/>
<br/>
<strong>II. Server log files</strong><br/>
<br/>
When you call one of our websites we automatically save traffic data. Normally the IP address, the type and version of your browser, the time and the website that lead to our website ("Referer") will be saved. Your IP address is collected anonymously so that we cannot match it with your person. The collection of those data is necessary to provide our websites and services, according to Art. 6 par. 1 lit. f GDPR.<br/>
<br/>
<br/>
<strong>4. Storage durations</strong><br/>
<br/>
Your data will be deleted immediately, as soon as it isn't relevant anymore for any contract between you and us. In some cases it could be necessary to store your data further, to comply with our contractual or other legal obligatons.<br/>
<br/>
<br/>
<strong>5. Disclosure of your personal data</strong><br/>
<br/>
We don't disclose your personal data to third parties, except:<br/>
<br/>
a) You grant us your explicit permission according to Art. 6 par. 1 S. 1 lit. a GDPR.<br/>
<br/>
b) The disclosure of your data is legal and it is necessary to comply with our contractual or other legal obligations, according to Art. 6 par. 1 S. 1 lit b GDPR.<br/>
<br/>
c) There is a law or legal obligation to disclose your data or the disclosure is necessary for the performance of a task carried out in the public interest or in the exercise of an official authority according to Art. 6 par. 1 S. 1 lit. c GDPR.<br/>
<br/>
d) The disclosure of your data is necessary for the purposes of the legitimate interests pursued by us or by a third party, except where such interests are overridden by the interests or your fundamental right according to Art. 6. par. 1 S. 1 lit. f GDPR.<br/>
<br/>
<br/>
<strong>6. Cookies, Google Analytics, Twitter</strong><br/>
<br/>
We use Cookies. When you visit one of our websites, information is stored on your terminal device in the form of a "cookie". Cookies are small text files that are stored on your terminal device by your browser. You can opt-out of the storage of cookies in the settings of your browser-software, but however, in this case you might not be able to fully use all functions and services on our website.<br/>
<br/>
We use Google Analytics, a service provided by Google Inc., 1600 Amphitheatre Parkway, Mountainview, CA 94043, USA ("Google"). Google uses Cookies. Google will use these cookies on our behalf to analyse how you use our websites and to generate reports about the activities on our websites. The information collected by those cookies will be transmitted to a Google server in the United States of America. We have Google's IP anonymization activated, so your IP address will be shortened before transmitting to Google. Only in exceptional cases the full IP address will be transmitted and then shortened afterwards. <br/>
<br/>
You may opt out from thecollection of these cookies by downloading and installing a browser plugin available at the following link:<br/>
<br/>
<a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a><br/>
<br/>
You may find further information about the processing of your personal data at the following links:<br/>
<br/>
<a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a><br/>
<br/>
<a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a><br/>
<br/>
<a href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a><br/>
<br/>
The collected personal data will be deleted or anonymized after 14 months according to Art. 6 par. 1 lit. f GDPR.<br/>
<br/>
Our websites use several functions from the social network Twitter, a service provided by Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. We may embed content of Twitter in our websites, such as photos, videos, texts or buttons. If you are registered with Twitter, they may combine your use of these functionalities on our websites with your Twitter account. You may find further information at https://twitter.com/de/privacy.<br/>
<br/>
<br/>
<strong>7. Your rights concerning your personal data</strong><br/>
<br/>
Under applicable GDPR you may have the right to:<br/>
<br/>
a) Obtain confirmation as to whether or not personal data concerning you are being processed, and where that is the case, access to the personal data, according to Art. 15 GDPR.<br/>
<br/>
b) Obtain the rectification of false or inaccurate data concerning you, according to Art. 15, Art. 16 GDPR.<br/>
<br/>
c) Obtain the deletion of your personal data, according to Art. 17 GDPR.<br/>
<br/>
d) Obtain the restriction of processing your personal data, according to Art. 18 GDPR.<br/>
<br/>
e) Obtain a digital copy of your personal data processed by us, according to Art. 20 GDPR.<br/>
<br/>
f) Revoke a granted permission regarding your personal data at any time, according to Art. 7 par. 3 GDPR.<br/>
<br/>
g) Complain at a data protection authority, according to Art. 77 GDPR.<br/>
<br/>
<br/>
<br/>
<strong>8. Hyperlinks / Disclaimer</strong><br/>
<br/>
This privacy policy applies only to our websites and not to other websites or applications operated by third parties. We may provide links to other websites but we are not responsible for the privacy practices of such other websites.<br/>
<br/>
<br/>
{% endblocktrans %}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>

<script type="text/javascript">
var cookieManager = {

    createCookie: function (name, value, days) {
        var date = new Date(),
            expires = '';
        if (days) {
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    },

    createGDPRCookie: function () {
        this.createCookie('gdpr_accepted', '1', 10 * 365);

        if (typeof (window.jQuery) === 'function') {
            jQuery('#gdprBanner').slideUp();
        } else {
            document.getElementById('gdprBanner').style.display = 'none';
        }
    }

};
</script>
{% endif %}
