
{% load staticfiles bootstrap3 i18n custom_tags humanize %}

{% block content %}
    {% block userkey_form %}
        {% include  'hosting/user_key.html' with title="Your VM is almost ready!" sub_title="You need to specify your public SSH key to access your VM. You can either add your existing key, or generate a new key pair by clicking the generate button below. After choosing your public SSH key option you’ll be directed to the order confirmation page." %}
    {% endblock userkey_form %}
{%endblock%}