.orders-container {padding-top:70px; padding-bottom: 11%;}

.orders-container .table > tbody > tr > td {
     vertical-align: middle;
}

@media screen and (min-width:767px){
     .dcl-text-right {
          padding-right: 20px;
     }
}